<div class="navbar navbar-default  input-group-addon-format navbar-fixed-bottom" role="navigation" style="z-index: 2" >
    <div class="container fixed-width" style="line-height: 50px; vertical-align: middle;">
        <a class="center-block text-center" id="loginNav" href="#">©上海西示科技股份有限公司 2015</a>
    </div>
</div>